<div class="container">
	<div class="row">

	    <div class="col-xs-3" >
		<%= render 'books/sidebar', book: @book ,user: @books.user   %>
		</div>

		<div class="col-xs-9" >
			<h1>Book detail</h1>
			<table class="table table-striped">
				<tr>
					<td><%= attachment_image_tag @books.user, :profile_image,:fill, 50, 50, fallback: "no_image.jpg"%></td>
					<td><%= @books.title %></td>
					<td class="title"></td>
					<td class="opinion"><%= @books.body %></td>

					<% if  @books.user_id == current_user.id %>
					<td><%= link_to "Edit", edit_book_path(@books.id) %></td>
					<td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
					<% end %>

					</tr>
			     	<td><%= link_to user_path(@books.user_id) do %>
			     			<%= @books.user.name %>
			     		</td>
			     		<% end %>

		    </table>
	    </div>

    </div>
</div>